.footer {
    text-align: center;
    padding: 5px;
    background-color: #f1f1f1;
    color: #333;
    width: 100%; /* Full width */
    box-sizing: border-box; /* Prevent overflow */
    margin-top: 10px;
  }
  